@import "../../styles/colors.scss";

.user-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.user-avatar {
    img {
        max-width: 200px;
        border-radius: 15px;
        cursor: pointer;
    }
}
.user-bio{
  background-color: #54a0ff;
  color: black;
  padding: 0.5em ;
  border-radius:5px;
}
.user-details {
    padding: 1em;
    line-height: 40px;
    font-size: clamp(14px, 62.5%, 16px);
    color: #cecaca;

    ul {
        list-style-type: none;
    }

    a,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        color: $accent;
    }
}

.btn-back {
    text-align: right;
}
