$primary: #141C2F;
$secondary: #1F2A48;
$primaryText: #f5f5f5;
$secondaryText: #1a1919;
$error: #da1717;
$accent: #00cec9;


$color_checkbox_success:#27ae60;
$color_checkbox_default:#8E8E93;

//light
$primary-light:#a29bfe;
$search-btn-light:#6c5ce7;
