$primary: #141C2F;
$secondary: #1F2A48;
$primaryText: #f5f5f5;
$secondaryText: #1a1919;
$error: #da1717;
$accent: black;


$color_checkbox_success:#0abde3;
$color_checkbox_default:#8E8E93;

//light
$primary-light:#00a8ff;
$search-btn-light:#6c5ce7;
$secondary-light:#0abde3;
